@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700&display=swap');

:root {
    --sidebar-2nd-row-height: calc(100vh - 170px);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    display: grid;
    background-color: #e2e8f0;
    grid-template: 170px minmax(75vh, auto)/max(21vw, 235px) 1fr;
    font-family: 'Roboto', sans-serif;
}


/* sidebar------------------------ */
.sidebar {
    background-color: #1992d4;
    grid-row: 1/3;
    display: grid;
    padding: 20px;
    color: white;
    gap: 40px;
    font-size: 20px;
    font-weight: 500;
    padding-left: 70px;
    align-content: start;
    position: relative;
    z-index: 1000;
}

.sidebar .logo {
    font-size: 25px;
}

.sidebar li {
    margin: 20px 0;
}

/* header---------------------- */
.header {
    background-color: #ffffff;
    grid-column: 2/3;
    padding: 0 40px;
    display: grid;
    grid-template: 1fr 1fr/1fr;
    align-items: center;
    /* justify-items: end; */
    font-size: 20px;
    position: relative;
    box-shadow: 0px 2px 5px rgba(128, 128, 128, 0.548);


}

.header input {
    margin-left: 20px;
    appearance: none;
    border-radius: 2em;
    outline: none;
    background-color: #e2e8f0;
    border: none;
    height: 30px;
    width: max(420px, 40vw);
    padding: 0 20px;
    font-size: 16px;
}

.search-bar-row {
    display: grid;
    grid-template-columns: auto 1fr repeat(2, auto) 120px;
    align-items: center;
    justify-items: start;
}

.search-bar-row div {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: black;
    border-radius: 50%;
    margin: 0 10px;
}

.search-bar-row p {
    display: inline;
    justify-self: center;
    font-weight: 600;
}

.fa-bell {
    margin: 0 10px;
}

.user-profile-row {
    display: grid;
    grid-template-columns: auto 1fr repeat(3, auto);
    align-items: center;
}

.user-profile-row div:empty {
    height: 65px;
    width: 65px;
    background-color: black;
    border-radius: 50%;
}

.user-info {
    margin-left: 20px;
}

.user-info p {
    font-weight: 700;
    font-size: 25px;
}

.user-info p:first-child {
    font-size: 14px;
}

button {
    appearance: none;
    font-weight: 500;
    font-size: 16px;
    height: 35px;
    width: 90px;
    border: none;
    background-color: #1992d4;
    color: white;
    border-radius: 2em;
    margin: 0 1.5vw;
}

/* main content------------------ */
.main-content {
    margin-top: 15px;
    background-color: #e2e8f0;
    display: grid;
    grid-template: 400px auto / 1fr 270px;
    padding: 15px;
    gap: 20px;
    align-content: start;
}

.projects {
    grid-row: 1/3;
}

.announcements {
    grid-row: 1/2;
}

.announcements>p,
.trends>p,
.projects>p {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.announcement-wrapper,
.trend-wrapper {
    background-color: white;
    padding: 10px 20px;
    border-radius: 0.5em;
    box-shadow: 2px 5px 10px rgba(128, 128, 128, 0.479);
}

.announcement-parts {
    font-size: 13px;
}

.announcement-parts p:first-child,
.trend-parts p span {
    padding-top: 10px;
    font-weight: 600;
    font-size: 14px;
    color: black
}

.announcement-parts p:last-child,
.trend-parts p {
    padding-bottom: 15px;
    border-bottom: 1px solid rgb(189, 189, 189);
    color: rgb(105, 105, 105);
}



/* to eliminate last bottom border on announcement parts */
.announcement-parts:last-of-type p {
    border: none;
}

/* /////////// */
.trend-parts {
    display: grid;
    grid-template: 60px/65px 1fr;
    align-content: center;
    margin: 10px 0;
}

.trends {
    grid-row: 2/3;
}

div img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    grid-row: 1/3;
}

.trend-parts p {
    margin-left: 10px;
    align-self: center;
    border: none;
    padding: 0px;
    font-size: 14px;
}

/* project part -------------------- */
.project-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: auto;
    gap: 20px;
}

.card {
    position: relative;
    height: 220px;
    background-color: white;
    border-radius: 0.5em;
    border-left: 7px solid #f0b429;
    padding: 30px 20px;
    box-shadow: 2px 5px 10px rgba(128, 128, 128, 0.479);
}

.card img {
    position: absolute;
    height: 20px;
    bottom: 20%;
    width: 20px;
    border-radius: 0%;
}

.card p:first-child {
    font-weight: 600;
    color: black
}

.card p:nth-child(2) {
    color: rgb(105, 105, 105);
    font-size: 15px;
}


.first-icon {
    right: 30%;
}

.second-icon {
    right: 20%;

}

.third-icon {
    right: 10%;

}